In [327]:
import pandas as pd
import numpy as np

In [328]:
data=pd.read_csv('/content/drive/MyDrive/IMDb Movies India.csv', encoding='latin-1')

In [329]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [330]:
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [331]:
data.isnull().any()

Name        False
Year         True
Duration     True
Genre        True
Rating       True
Votes        True
Director     True
Actor 1      True
Actor 2      True
Actor 3      True
dtype: bool

In [332]:
data.drop(columns=['Name'], inplace=True)
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...
15504,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [333]:
data.dtypes

Year         object
Duration     object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [334]:
null_count = data['Year'].isnull().sum()
null_count

528

In [335]:
data.dropna(subset=['Year'], inplace=True)

In [336]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,(1997),147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [337]:
# Remove the parentheses and convert to integers
data['Year'] = data['Year'].str.extract('(\d+)').astype(int)

In [338]:
data.dtypes
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,1988,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,1998,130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [339]:
null_count = data['Duration'].isnull().sum()
null_count

7866

In [340]:
# Remove "mins" from the "duration" column
data['Duration'] = data['Duration'].str.replace(' min', '')

data.dtypes

Year          int64
Duration     object
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [341]:
data['Duration'] = data['Duration'].astype(float).astype('Int64')

In [342]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,<NA>,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,<NA>,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,1988,<NA>,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [343]:
duration_mean=data['Duration'].mean()
duration_mean=duration_mean.astype(float).astype('int')

In [344]:
data['Duration'].fillna(duration_mean, inplace=True)

In [345]:

data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,128,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,128,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,1988,128,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [346]:
rating_mean= data['Rating'].mean()
data['Rating'].fillna(rating_mean,inplace=True)

In [347]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.000000,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,"Drama, Musical",5.841621,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,"Comedy, Romance",4.400000,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105,Drama,5.841621,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147,"Comedy, Drama, Musical",4.700000,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,128,Action,4.600000,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129,"Action, Drama",4.500000,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,128,Action,5.841621,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,1988,128,Action,5.841621,NaN,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.200000,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [348]:
data = data[data['Votes'] != "$5.16M"]
data['Votes'] = data['Votes'].str.replace(',', '').astype(float)

<ipython-input-348-d31d4d818d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Votes'] = data['Votes'].str.replace(',', '').astype(float)

In [349]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.000000,8.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,"Drama, Musical",5.841621,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,"Comedy, Romance",4.400000,35.0,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105,Drama,5.841621,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147,"Comedy, Drama, Musical",4.700000,827.0,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,128,Action,4.600000,11.0,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129,"Action, Drama",4.500000,655.0,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,128,Action,5.841621,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,1988,128,Action,5.841621,NaN,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.200000,20.0,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [350]:
votes_mean= data['Votes'].mean()
data['Votes'].fillna(votes_mean,inplace=True)

<ipython-input-350-b2ea877732b6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Votes'].fillna(votes_mean,inplace=True)

In [351]:
data.dtypes

Year          int64
Duration      Int64
Genre        object
Rating      float64
Votes       float64
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [352]:
from sklearn.preprocessing import OrdinalEncoder

In [353]:
ordinal_encoder = OrdinalEncoder()
data['Director'] = ordinal_encoder.fit_transform(data[['Director']])

<ipython-input-353-e178891e84ff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Director'] = ordinal_encoder.fit_transform(data[['Director']])

In [354]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.000000,8.000000,1475.0,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,"Drama, Musical",5.841621,1938.520394,4883.0,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,"Comedy, Romance",4.400000,35.000000,3170.0,Prateik,Ishita Raj,Siddhant Kapoor
4,2010,105,Drama,5.841621,1938.520394,364.0,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,1997,147,"Comedy, Drama, Musical",4.700000,827.000000,3633.0,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
...,...,...,...,...,...,...,...,...,...
15504,1988,128,Action,4.600000,11.000000,2577.0,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,1999,129,"Action, Drama",4.500000,655.000000,2393.0,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,2005,128,Action,5.841621,1938.520394,2320.0,Sangeeta Tiwari,NaN,NaN
15507,1988,128,Action,5.841621,1938.520394,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.200000,20.000000,2097.0,Dharmendra,Jaya Prada,Arjun Sarja

In [355]:
data['Actor 1'] = ordinal_encoder.fit_transform(data[['Actor 1']])
data['Actor 2'] = ordinal_encoder.fit_transform(data[['Actor 2']])
data['Actor 3'] = ordinal_encoder.fit_transform(data[['Actor 3']])

<ipython-input-355-ee7b35b59ba9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 1'] = ordinal_encoder.fit_transform(data[['Actor 1']])
<ipython-input-355-ee7b35b59ba9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 2'] = ordinal_encoder.fit_transform(data[['Actor 2']])
<ipython-input-355-ee7b35b59ba9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 3'] = ordinal_encoder.fit_transform(data[['Actor 3']])

In [356]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.000000,8.000000,1475.0,3161.0,4606.0,510.0
2,2021,90,"Drama, Musical",5.841621,1938.520394,4883.0,3572.0,2768.0,3329.0
3,2019,110,"Comedy, Romance",4.400000,35.000000,3170.0,2816.0,1447.0,3875.0
4,2010,105,Drama,5.841621,1938.520394,364.0,3000.0,3340.0,392.0
5,1997,147,"Comedy, Drama, Musical",4.700000,827.000000,3633.0,872.0,115.0,3690.0
...,...,...,...,...,...,...,...,...,...
15504,1988,128,Action,4.600000,11.000000,2577.0,2499.0,4139.0,4108.0
15505,1999,129,"Action, Drama",4.500000,655.000000,2393.0,217.0,4359.0,503.0
15506,2005,128,Action,5.841621,1938.520394,2320.0,3471.0,NaN,NaN
15507,1988,128,Action,5.841621,1938.520394,NaN,NaN,NaN,NaN
15508,1998,130,"Action, Drama",6.200000,20.000000,2097.0,1108.0,1529.0,474.0

In [357]:
actor1_mean= data['Actor 1'].mean()
data['Actor 1'].fillna(votes_mean,inplace=True)

actor2_mean= data['Actor 2'].mean()
data['Actor 2'].fillna(votes_mean,inplace=True)

actor3_mean= data['Actor 3'].mean()
data['Actor 3'].fillna(votes_mean,inplace=True)

<ipython-input-357-41fbb88d29ba>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 1'].fillna(votes_mean,inplace=True)
<ipython-input-357-41fbb88d29ba>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 2'].fillna(votes_mean,inplace=True)
<ipython-input-357-41fbb88d29ba>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor 3'].fillna(votes_mean,inplace=True)

In [358]:
data.dtypes

Year          int64
Duration      Int64
Genre        object
Rating      float64
Votes       float64
Director    float64
Actor 1     float64
Actor 2     float64
Actor 3     float64
dtype: object

In [359]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
data['Genre'] = ordinal_encoder.fit_transform(data[['Genre']])

genre_mean=data['Genre'].mean
data['Genre'].fillna(genre_mean,inplace=True)

data['Director'].fillna(0,inplace=True)

<ipython-input-359-e721ebe02840>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Genre'] = ordinal_encoder.fit_transform(data[['Genre']])
<ipython-input-359-e721ebe02840>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Genre'].fillna(genre_mean,inplace=True)
<ipython-input-359-e721ebe02840>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Director'].fillna(0,inplace=True)

In [360]:
data

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,294.0,7.000000,8.000000,1475.0,3161.000000,4606.000000,510.000000
2,2021,90,345.0,5.841621,1938.520394,4883.0,3572.000000,2768.000000,3329.000000
3,2019,110,224.0,4.400000,35.000000,3170.0,2816.000000,1447.000000,3875.000000
4,2010,105,294.0,5.841621,1938.520394,364.0,3000.000000,3340.000000,392.000000
5,1997,147,193.0,4.700000,827.000000,3633.0,872.000000,115.000000,3690.000000
...,...,...,...,...,...,...,...,...,...
15504,1988,128,0.0,4.600000,11.000000,2577.0,2499.000000,4139.000000,4108.000000
15505,1999,129,39.0,4.500000,655.000000,2393.0,217.000000,4359.000000,503.000000
15506,2005,128,0.0,5.841621,1938.520394,2320.0,3471.000000,1938.520394,1938.520394
15507,1988,128,0.0,5.841621,1938.520394,0.0,1938.520394,1938.520394,1938.520394
15508,1998,130,39.0,6.200000,20.000000,2097.0,1108.000000,1529.000000,474.000000

In [361]:
data.dtypes

Year          int64
Duration      Int64
Genre        object
Rating      float64
Votes       float64
Director    float64
Actor 1     float64
Actor 2     float64
Actor 3     float64
dtype: object

In [362]:
y=data['Rating']
X=data.drop('Rating',axis=1)

In [363]:
X

,Year,Duration,Genre,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,294.0,8.000000,1475.0,3161.000000,4606.000000,510.000000
2,2021,90,345.0,1938.520394,4883.0,3572.000000,2768.000000,3329.000000
3,2019,110,224.0,35.000000,3170.0,2816.000000,1447.000000,3875.000000
4,2010,105,294.0,1938.520394,364.0,3000.000000,3340.000000,392.000000
5,1997,147,193.0,827.000000,3633.0,872.000000,115.000000,3690.000000
...,...,...,...,...,...,...,...,...
15504,1988,128,0.0,11.000000,2577.0,2499.000000,4139.000000,4108.000000
15505,1999,129,39.0,655.000000,2393.0,217.000000,4359.000000,503.000000
15506,2005,128,0.0,1938.520394,2320.0,3471.000000,1938.520394,1938.520394
15507,1988,128,0.0,1938.520394,0.0,1938.520394,1938.520394,1938.520394
15508,1998,130,39.0,20.000000,2097.0,1108.000000,1529.000000,474.000000

In [364]:
X=data.drop('Genre',axis=1)

In [365]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# X_train: Training features
# X_test: Testing features
# y_train: Training labels
# y_test: Testing labels

In [366]:
X_train.isnull().any()

Year        False
Duration    False
Rating      False
Votes       False
Director    False
Actor 1     False
Actor 2     False
Actor 3     False
dtype: bool

In [367]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

rf_regressor = RandomForestRegressor(n_estimators=100, random_state=0)

X_train.isnull().any()

Year        False
Duration    False
Rating      False
Votes       False
Director    False
Actor 1     False
Actor 2     False
Actor 3     False
dtype: bool

In [368]:
X_train

,Year,Duration,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
5614,2003,176,6.200000,180.000000,358.0,321.0,639.000000,296.000000
8077,1950,128,5.841621,1938.520394,1854.0,1020.0,2874.000000,1375.000000
8734,2021,128,5.841621,1938.520394,311.0,391.0,4006.000000,2842.000000
13791,1994,128,5.841621,1938.520394,4995.0,3785.0,767.000000,2418.000000
5999,2012,87,6.900000,152.000000,2171.0,1294.0,2398.000000,3730.000000
...,...,...,...,...,...,...,...,...
13534,1984,128,5.841621,1938.520394,1724.0,1617.0,1336.000000,511.000000
3373,1987,128,5.841621,1938.520394,5105.0,1703.0,1938.520394,1938.520394
10145,1932,128,5.841621,1938.520394,1621.0,1557.0,1230.000000,2348.000000
11132,1937,128,5.841621,1938.520394,2950.0,1452.0,1938.520394,1938.520394
2824,1960,128,5.841621,1938.520394,3861.0,792.0,2447.000000,1541.000000

In [369]:
rf_regressor.fit(X_train, y_train)
y_pred = rf_regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mse

#the mean absolute error is very small, which proves that the model is learning perfectly

3.9516911437471746e-05

In [370]:
from sklearn.metrics import r2_score

In [371]:
r2 = r2_score(y_test, y_pred)

In [372]:
r2

#as the r2_score is also low, it proves that the model is not overfitting and is running perfectly without overfitting or underfitting

0.9999599269964821